<app-pagebar></app-pagebar>
<div>
  <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='搜索表格内容...' (keyup)='updateFilter($event)'
  />
  <a href="javascript:void(0)" class="btn btn-raised btn-xs" (click)="showAddForm()">添加版本</a>
  <form *ngIf="isShow" #versionForm="ngForm" (ngSubmit)="add()">
    <div fxLayout="row">
      <div fxShow fxHide.sm="true" fxFlex="10"> </div>
      <div fxFlex.gt-sm="100" fxFlex="80">
        <div fxLayout="row" fxLayoutGap="10px">
          <md-select style="width: 50%;" placeholder="项目名" [disabled]=isProjectidDisabled id="nameFormControl" name="nameFormControl" [(ngModel)]="v.projectid" #name="ngModel">
            <md-option *ngFor="let project of projects" [value]="project.id">
              {{ project.text }}
            </md-option>
          </md-select>
          <md-input-container>
            <input mdInput placeholder="版本号" id="versionFormControl" [disabled]=isVersionDisabled [(ngModel)]="v.version" #version="ngModel" name="versionFormControl"
              required>
            <md-error *ngIf="version.hasError('required')">
              版本号不能为空
            </md-error>
          </md-input-container>
        </div>
      </div>
      <div fxShow fxHide.sm="true" fxFlex="10"> </div>
    </div>
    <div fxLayout="row">
      <div fxShow fxHide.sm="true" fxFlex="10"> </div>
      <div fxFlex.gt-sm="100" fxFlex="80">
        <div fxLayout="row" fxLayoutGap="10px">
          <md-input-container>
            <textarea mdInput placeholder="描述" rows="3" id="descriptionFormControl" maxlength="250" [(ngModel)]="v.description" #description="ngModel"
              name="descriptionFormControl"></textarea>
          </md-input-container>
        </div>
      </div>
      <div fxShow fxHide.sm="true" fxFlex="10"> </div>
    </div>
    <div class="form-actions" fxLayout="row" style="margin-bottom: 10px;">
      <div fxShow fxHide.sm="true" fxFlex="10"> </div>
      <button type="submit" md-raised-button [disabled]="!versionForm.form.valid">保存</button>
      <div fxShow fxHide.sm="true" fxFlex="10"> </div>
    </div>
  </form>

  <ngx-datatable #table class="material" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
    [rows]="rows">
    <ngx-datatable-column name="name">
      <ng-template let-column="column" ngx-datatable-header-template>
        项目名
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="version">
      <ng-template let-column="column" ngx-datatable-header-template>
        版本号
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="description">
      <ng-template let-column="column" ngx-datatable-header-template>
        描述
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="date">
      <ng-template let-column="column" ngx-datatable-header-template>
        操作时间
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        操作
      </ng-template>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        <a href="javascript:;" title="编辑" (click)="edit(rowIndex)">
          <md-icon>create</md-icon>
        </a>
        <a href="javascript:;" title="删除" (click)="delete(rowIndex)">
          <md-icon>highlight_off</md-icon>
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>