<mat-card>
    <!-- <button (click)="addSubmit()">添加</button> -->
  <mat-card-content>
      
    <mat-tab-group>
       
      <mat-tab label="用户">
        <input type='text' style='padding:5px;width:15%;position:absolute;right: 0px;top: 5px;' placeholder='搜索' (keyup)='commonComponent.updateFilter($event,temp,this)'
        />
        <button   (click)="beforeaddSubmit()" mat-button color="primary">添加</button>
        <!-- <button style='padding:5px;width:7%;position:absolute;top: 8px;'  (click)="addSubmit()">修改</button> -->
        <div style="margin-top:1%">
          <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
            [rows]="rows">
            <ngx-datatable-column name="用户名" prop="name">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="类型" prop="type">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="描述" prop="description">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="操作" prop="operation">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                <button (click)="EditUser(row)" mat-button color="primary">编辑</button>
                <button (click)="DeleteUser(rowIndex)" mat-button color="primary">删除</button>

              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </mat-tab>
      <mat-tab label="在线用户">
        <div>
          <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
            [rows]="rowsatuo">
            <ngx-datatable-column name="用户名" prop="username">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="登陆ip地址" prop="ip">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="登陆时间" prop="time">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="在线时间" prop="onlinetime">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="登陆方式" prop="method">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="操作" prop="autooperation">
              <ng-template ngx-datatable-cell-template let-value="value" let-row='row'>
                <button (click)="disabledUser(row)" mat-button color="primary">强制下线</button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<ng-template    #membersTemp let-dialogRef="dialogRef" let-ctx="dialogRef.context">
    <form   [formGroup]="formGroup">
        <div class="vex-dialog-header">
            <b>添加用户</b>
            <i (click)="dialogRef.close(true)" class="vex-close"></i>
          </div>
        <dynamic-material-form [group]="formGroup"
                                [layout]="formLayout"
                                [model]="formModel">
        </dynamic-material-form>
    </form>
    <div  class="vex-dialog-buttons" style="text-align:center">
      <button (click)="addmember()" mat-button color="primary">提交</button>
      <button (click)="dialogRef.close(true)" mat-button>取消</button>
  </div>
  </ng-template>

 