.info {
    box-sizing: border-box;
    padding: 0 1em; 
    border: solid 1px #ccc; 
    background: white;
    font-size: .8em;
    margin-bottom: 1em;
}
.ngx-datatable, .info {
    text-align: left;
    width: 75%;
    margin: 0 auto;
}