<div app-pagebar-toolbar>
  <md-select placeholder="Scene" [(ngModel)]="selectedSceneID">
    <md-option *ngFor="let scene of scenes | async" [value]="scene.id">{{ scene.name }}</md-option>
  </md-select>
</div>


<gridster [options]="options" *ngIf="scene">
  <gridster-item [item]="item.view" *ngFor="let item of (scene|async)?.dashboard ">
    <label class="item-label">{{item.label}}</label>
    <div class="item-buttons">
      <button md-icon-button md-raised-button class="drag-handler">
        <md-icon>open_with</md-icon>
      </button>
      <button md-icon-button md-raised-button class="remove-button" (click)="removeItem($event, item)" (touchstart)="removeItem($event, item)"
        mdTooltip="Remove">
        <md-icon>clear</md-icon>
      </button>
    </div>
    <div class="gridster-item-content-dd">
      <div>item content</div>
    </div>
  </gridster-item>
</gridster>