.login .content .login-form
{
  padding: 0px;
  margin:0px;
}

.login-form md-input-container{
  width:100%;
}
.login-form .form-actions{
  margin-top: 20px;
}
.login-form .rememberme{
  padding: 20px;
}
