<form #loginForm="ngForm" class="login-form" (ngSubmit)="onSubmit()">
  <h3 class="form-title font-green">{{'Login.sign_in'|translate}}</h3>
  <div>
    <mat-form-field>
      <input matInput placeholder="{{'Login.user_name'|translate}}" [(ngModel)]="user.name" id="nameFormControl" name="nameFormControl"
        required #name="ngModel">
      <mat-error *ngIf="name.hasError('required')">
        {{'error.required'|translate}}
      </mat-error>
      <mat-error *ngIf="name.hasError('pattern')">
        {{'Login.error.valid_username'|translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="{{'Login.password'|translate}}" type="password" [(ngModel)]="user.password" id="passwdFormControl"
        name="passwdFormControl" required #passwd="ngModel">
      <mat-error *ngIf="passwd.hasError('required')">
        {{'error.required'|translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-actions">
    <button type="submit" mat-raised-button [disabled]="!loginForm.form.valid">{{'Login.sign_in'|translate}}</button>
    <mat-checkbox class="rememberme">{{'Login.rember_me'|translate}}</mat-checkbox>
  </div>
</form>