@import 'sass/angular-mat'; //mat theme
@import 'sass/bootstrap-mat'; //bootstrap-material-design
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~angular2-toaster/toaster';
@import "sass/layout/ngCloud/themes/topsec";
.mat-select-trigger{
    height:22px!important;
}
/* modal开始 */
.modal-content .modal-header {
    border-bottom: 1px solid #e9ecef;
    padding: 15px;
}
.modal-content .modal-body + .modal-footer {
    padding: 15px;
}
.modal-content .modal-footer {
    border-top:1px solid #e9ecef;
}
.btn-secondary:hover, .btn-secondary.disabled:hover {
    -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
    box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-secondary:hover {
    color: #fff;
    background-color: #727b84!important;
    border-color: #6c757d;
}
.btn-secondary {
    background-color: #fff!important;
}
/* modal结束 */
