<markdown>
# Markdown 支持
  ![npm](https://img.shields.io/npm/v/angular2-markdown.svg?style=flat)

  ngCloud使用[angular-markdown](https://www.npmjs.com/package/angular2-markdown)实现markdown支持

  demo可以查看 https://dimpu.github.io/angular2-markdown/

## 1.开启markdown支持
  如果要使用markdown，首先要在`module.ts`中引入`MarkdownModule`模块:
  ```typescript
  import {{'{'}}MarkdownModule{{'}'}} from "angular2-markdown";`
  ...
  imports: [
    ...,
    MarkdownModule,
    ...,
  ],
  ···
  ```
## 2.使用markdown
  使用markdown只需要在页面中使用markdown标记，在markdown标记内的的内容会自动完成转换

  如:

  <div ngNonBindable>
  <pre><code>
  &lt;markdown&gt;
    ### test markdown header3
  &lt;/markdown&gt;
  </code>
  </pre>
  </div>


  效果:

  ---
  ### test markdown header3
  ---

## 3.坑

  ### 3.1 blockquote

  在&lt;markdown&gt;的innherHTML中直接使用&gt;由于angular会转义，所以不能显示blockquote效果。如果要使用blockquote使用angular的绑定方式

  <pre><code>
    &lt;markdown [data]=&quot;markdownVar&quot;&gt;&lt;/markdown&gt;
  </code></pre>

  对应的ts 类中
  <pre><code appPcode>
  export class XXXComponent {{'{'}}
  ...
  public markdownVar=`
  {{'&gt;'}} blockquote
  > blockquote2
  `;
  ...
  {{'}'}}
  </code></pre>



  也可以用bq>代替>符号开启blockquote,前提是要修改代码 angular2-markdown的markdown.component.js 85行，改
  ```
  return isCodeBlock_1 ? line : line.trim();
  ```
  为
  ```
  return isCodeBlock_1 ? line : line.trim().replace(/(^)bq\&gt;/g,'>');
  ```

  如：bq> bq测试
  效果

  bq> bq测试


  ### 3.2 代码

  由于angular会把{{'{'}}字符与{{'}'}} 当成模板字符使用，所以需要对这两字符转义。转义方式是用{{'\{\{\'{\'\}\}'}}
与  {{'\{\{\'}\'\}\}'}}进行转义。或采用与quote一样的绑定方式.

  ### 3.3 覆盖Http provider

  angular2-markdown会引入HttpModule造成系统的http factory provider不起做用。所以在更改angular2-markdown代码去掉Import HttpModule

## 4. 修改markdown属性

  通过·MarkdownService·注入，可以修改markdown的渲染属性。

<pre><code appPcode>
import {{'{MarkdownService}'}} from "angular2-markdown";
import * as extras from 'marked-extras';
...
export class XXXComponent implements OnInit {{'{'}}
 ···
  ngOnInit() {{'{'}}
  //通过marked-extras 进行初始化。需要npm i marked-extras -S 安装.
    extras.init();
    this.markd.setMarkedOptions(Object.assign(extras.markedDefaults, {{'{'}}
      gfm: true,
      tables: true,
      breaks: false,
      pedantic: false,
      sanitize: false,
      smartLists: true,
      smartypants: false
    {{'}'}} ));
  //可以修改table的render方式
    this.markd.renderer.table = (header: string, body: string) => {{'{'}}
      return `
      &lt;table class=&quot;table table-strip&quot;&gt;
        &lt;thead&gt;
        {{'\${header}'}}
        &lt;/thead&gt;
        &lt;tbody&gt;
        {{'\${body}'}}
        &lt;/tbody&gt;
      &lt;/table&gt;
      `;
    {{'}'}}
  //修改blockquote的render方式
    this.markd.renderer.blockquote = (quote: string) => {{'{'}}
      return `&lt;blockquote class=&quot;king-quote&quot;&gt;{{'${quote}'}}&lt;/blockquote&gt;`;
  {{'}'}}
  {{'}'}}
  ···
</code></pre>


## 5. 基本使用

</markdown>

   <md-tab-group>
      <md-tab label="效果">
        <markdown  [data]='markdownContent'> </markdown>
      </md-tab>
      <md-tab label="代码">
        <pre><code appPcode class="language-markdown">{{markdownContent}}</code></pre>
      </md-tab>
    </md-tab-group>

