markdown table {
   tr {
    th, td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    }
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
    &:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }
}
