<markdown>
    # NG Cloud web UI 框架
    
      NG Cloud Web 框架采用 angular 4+ 为基础引入多种开源组件进行组合而成。
      默认采用google material design样式。
      支持bootstrap布局。
    
    ## 特性
    
      - 为控制台设计的管理界面框架
      - 前后端完分离架构设计
      - 基于angular 并随时同步更新最新版本支持，有良好的社区支持
      - 支持组件统一样式
      - 支持forum表单根据json配置生成，确保界面风格一致
      - 支持mock API测试，前后端开发过程分离
      - 支持rxjs 提供流式开发
      - 界面组件、界面模块化，便于复用
    
    
    ## 目前引入组件列表
    
      | 组件 | Demo URL           | 功能  |
      | ------------- |:-------------:| -----:|
      | [@angular/flex-layout](https://github.com/angular/flex-layout) | https://tburleson-layouts-demos.firebaseapp.com/#/responsive | 动态弹性布局 |
      | [@angular/material](https://github.com/angular/material2)| http://material.angular.io |  angular 官方 material 组件。目前不完善不建议使用|
      | [@ng2-dynamic-forms/core](https://github.com/udos86/ng2-dynamic-forms)  | (http://ng2-dynamic-forms.udos86.de/example/index.aot.html) | 动态生成form表单界面 |
      | [@ngx-translate](https://github.com/ngx-translate/core)  | (https://plnkr.co/edit/WccVZSBM0rUgq2sXSUbe?p=preview) | 多国语言动态支持。 angular目前内置的是多国语言静态翻译。|
      | [@swimlane/ngx-datatable](https://github.com/swimlane/ngx-datatable) | http://swimlane.github.io/ngx-datatable/ |  数据表格支持|
      | [angular-gridster2](https://github.com/tiberiuzuld/angular-gridster2) | https://tiberiuzuld.github.io/angular-gridster2/angular/ | dashboard 的动态布局功能 |
      | [ngx-color-picker](https://zefoy.github.io/ngx-color-picker/) | http://alberplz.github.io/angular2-color-picker/examples/index.html | 颜色选取组件 |
      | [ng-pick-datetime](https://github.com/DanielYKPan/date-time-picker) | https://danielykpan.github.io/date-time-picker/ | 日期时间选择 |
      | [angular2-markdown](https://github.com/dimpu/angular2-markdown) | https://dimpu.github.io/angular2-markdown/ | markdown 支持，如果不使用markdown可以不加载 |
      | [angular2-moment](https://github.com/urish/angular2-moment) | https://github.com/urish/angular2-moment| moment 时间格式支持 |
      | [angular2-toaster](https://github.com/Stabzs/Angular2-Toaster) | http://plnkr.co/edit/hkENUhos6q9fhiOHprXO?p=preview | 消息提醒支持 |
      | [bootstrap-material-design](https://github.com/FezVrasta/bootstrap-material-design) | http://fezvrasta.github.io/bootstrap-material-design/ | 覆盖bootstrap 样式，改为google material design 支持|
      | [material-design-icons](https://material.io/icons/) | https://material.io/icons/ | google material 的ICON 图标字体库 |
      | [ng2-nouislider](https://github.com/tb/ng2-nouislider) | http://tb.github.io/ng2-nouislider/ | 滑动数值选择器 |
      | [ng2-tree](https://github.com/valor-software/ng2-tree) | http://valor-software.com/ng2-tree/index.html | 树组件 |
      | [ngx-echarts](https://github.com/xieziyu/ngx-echarts) | https://xieziyu.github.io/#/ngx-echarts/demo | echarts 图表组件|
      | [ngx-modialog](https://github.com/shlomiassaf/ngx-modialog) | http://shlomiassaf.github.io/ngx-modialog/#/vex-demo | 对话框组件,使用vex模式|
    
    
      以下组件为依赖安装:
    
      - echarts
      - bootstrap
      - bootstrap-sass
      - arrive
      - auth0-js
      - font-awesome
      - nouislider
      - chart.js
      - hammerjs
      - jquery
      - marked-extras
      - prismjs
      - select2
      - vex-js
      - angular2-jwt
      - @types/lodash
      - angular2-text-mask
    
      以下组件为可选组件基本没用:
    
      - [angular-bootstrap-md](https://mdbootstrap.com/getting-started/)
      - ng-dynamic-component
      - ng2-select2 已经内置到common/select2中，不需要外部安装
      - [angular2-color-picker](https://github.com/Alberplz/angular2-color-picker)
      - selectize 选择组件的一种，一般用select2
      - primeng 界面组件集，太丑了
    
    ## 使用框架
    
      1. 开发一个对象管理界面
      2. 了解登陆
      3. Mock测试
      4. 动态Form
      5. 关于Mock测试
    
    
    </markdown>
    