https://github.com/NejcZdovc/ng2-select2-demo
<h2>1. Basic demo</h2>
<select2 [data]="exampleData"></select2>

<h2>2. Demo with options</h2>
<select2 [data]="exampleData" [width]="300" [options]="options"></select2>

<h2>3. Demo with template</h2>
<select2 [data]="templateListData" [width]="150" [options]="templateOptions"></select2>

<h2>4. Demo with a value changing</h2>
<select2 [data]="changeListData" id="sltId" [(ngModel)]="startValue" name="changeList" (valueChanged)="changed($event)"></select2>
<div *ngIf="selected">
    <br/>
    <br/> Selected value in select 2:
    <b>{{selected}}</b>
</div>
<br/>
<br/>
<button (click)="changeValue()">Change value</button>
<button (click)="changeData()">Change data</button>
<button (click)="getData()">Get data</button>

<h2>5. Demo dynamic loading</h2>
<p>Delay for data is 4 second and 6 seconds for selected value</p>
<select2 [data]="dynamicListData | async" [ngModel]="dynamicStartValue | async" [width]="150"></select2>
<h2>6. Demo for custom matcher</h2>
<p>
    Instead of default search, search now starts from the beginning of the word only.
    <br/> Try to write
    <b>aw</b> into both drop downs.
</p>
Default:
<select2 [data]="customListData"></select2>
<br/>
<br/> Custom:
<!-- <select2 [data]="customListData" [options]="customOptions"></select2> -->

<h2>7. Multiple values demo</h2>
<select2 [data]="multipleListData" [options]="multipleOptions" [width]="500" [ngModel]="value" (valueChanged)="multipleChanged($event)"></select2>
<br/>
<br/> Selected values: {{ current }}